[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "auxvecLASSO"]
	path = auxvecLASSO
	url = https://github.com/gustafanderssons/auxveclasso-r-package
